#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card{
  border: 2px solid #FFF;
  padding: 1rem;
  border-radius: 1rem;
  transition: 0.115s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  
  

}

.card > img{
  border-radius: 1rem;
}

.card > h2 {
  font-size: 2rem;
  border-right: 1px solid red;
}

.card:hover{
  box-shadow: 0.2rem 0.2rem #FFF;
  translate: -2px -2px;
}

.card-descricao{

 
  color: #000;
  border-radius: 0.5rem;
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%;
  gap: 12px; 
  align-items: center;
  font-size: 16px;
}

.card-descricao span{
  background-color: #fff;
  border-radius: 0.8rem;
  padding: 0.3rem;
  font-weight: bold;

}


